In [ ]:
# DATA CLEANING

In [54]:
import tensorflow as tf
import pandas as pd
import numpy as np
from collections import defaultdict

In [55]:
df=pd.read_csv(r"C:\Users\Bhavya\Desktop\Master's in Applied Computing\Project\Dataset\zocdoc.csv")

In [56]:
df.head()

   Unnamed: 0                        Doctor's Name     speciality
0           0              Diem Truong, LAc, MSTOM  Acupuncturist
1           1                  Monique Rivera, LAc  Acupuncturist
2           2  Ronald Pratt, LAc, DiplAc, MA, MSAc  Acupuncturist
3           3                  Daniel Camburn, LAc  Acupuncturist
4           4   Deborah Barbiere, LAc, MSTOM, PsyD  Acupuncturist

In [57]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [58]:
df.head()

                         Doctor's Name     speciality
0              Diem Truong, LAc, MSTOM  Acupuncturist
1                  Monique Rivera, LAc  Acupuncturist
2  Ronald Pratt, LAc, DiplAc, MA, MSAc  Acupuncturist
3                  Daniel Camburn, LAc  Acupuncturist
4   Deborah Barbiere, LAc, MSTOM, PsyD  Acupuncturist

In [63]:
df['Rating'] = np.random.randint(1, 5, df.shape[0])

In [64]:
df.head()

                         Doctor's Name     speciality  Rating
0              Diem Truong, LAc, MSTOM  Acupuncturist       3
1                  Monique Rivera, LAc  Acupuncturist       1
2  Ronald Pratt, LAc, DiplAc, MA, MSAc  Acupuncturist       3
3                  Daniel Camburn, LAc  Acupuncturist       1
4   Deborah Barbiere, LAc, MSTOM, PsyD  Acupuncturist       3

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9298 entries, 0 to 9297
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Doctor's Name  9298 non-null   object
 1   speciality     9298 non-null   object
 2   Rating         9298 non-null   int32
dtypes: int32(1), object(2)
memory usage: 181.7+ KB

In [69]:
df.to_csv(r"C:\Users\Bhavya\Desktop\Master's in Applied Computing\Project\Dataset\cleaned_zocdoc.csv")